<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/home.css">
</head>
<body>
    <div class="home">
        <button type="button" id="img" onclick="location.href='/'">
            <img src="../public/images/home.png" width="150">
        </button>
    </div>
    <div class="navigator">
        <button type="button" class="btn" id="todo" onclick="location.href='http://localhost:3000/todo'">TODO</button>
        <button type="button" class="btn" id="weather" onclick="location.href='http://localhost:3000/weather'">WEATHER</button>
        <button type="button" class="btn" id="chat" onclick="location.href='http://localhost:3001/chat'">CHAT</button>
    </div>
</body>
</html>