@font-face{font-family:'Nanum Gothic'; src:url('../fonts/NanumBarunGothic.ttf')}
@font-face{font-family:'Nanum SquareEB'; src:url('../fonts/NanumSquareEB.ttf')}

body {
    background-color: #C594BF;
    font-family: 'Nunito Sans', sans-serif;
}

.mainbox {
    background-color: #C594BF;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}