@font-face{font-family:'NanumSquare_acR'; src:url('../fonts/NanumSquare_acR.ttf')}
@font-face{font-family:'Nanum SquareEB'; src:url('../fonts/NanumSquareEB.ttf')}

body{
	height: 100vh;
	text-align: center;
    margin: 0;
	background: white;
}

.home{
    margin-top: 250px;
    margin-bottom: 30px;
}

#img{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn {
	background-color: white;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: "Nanum SquareEB";
	font-size: 24px;
	font-weight: bold;
    border: none;
	padding: 17px 27px;
	margin: 0px 5px;
}

.btn:hover {
	background-color:#f6f6f6;
    border: none;
    border-bottom: 3px solid;
    border-bottom-color: #1697D1;
}
