@font-face{font-family:'Nanum Gothic'; src:url('../fonts/NanumBarunGothic.ttf')}
@font-face{font-family:'Nanum SquareEB'; src:url('../fonts/NanumSquareEB.ttf')}

body{
	height: 100vh;
	display: grid;
	place-items: center;
	place-content: center;
	text-align: center;
    margin: 0;
	background: #F6EFF5;
	font-family: 'Nanum Gothic';
}

ul{
    list-style-type: none;
    font-size: 20px;
    text-align: left;
}

li{
    padding: 10px 0px;
    margin: 10px 20px 10px 30px;
    border-bottom: 1px solid #C594BF;
}

.main-text{
    font-size: 45px;
    color: #8A4582;
    font-family: 'Nanum SquareEB';
}

.form-box{
	background-color: #EEE0EC;
	padding: 2rem;
	margin-top: -2.5rem;
	z-index: 1;
	position: relative;
	overflow: hidden;
    border-radius: 10px;
}

.text-box{
    width: 200px;
    height: 30px;
    border: none;
}

.btn-gradient {
    font-family: 'Nanum Gothic';
    margin: 5px;
    padding: 8px 18px;  
    font-size: 14px;
	text-decoration: none;
	color: white;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}

.btn-gradient.purple { 
	background: linear-gradient(to bottom, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%);
}

.list-box{
    background-color: #EEE0EC;
    width: 315px;
    height: 430px;
	padding: 0px 20px;
	margin-top: 20px;
	overflow: auto;
    border-radius: 10px;
}

.todo-item-content{
    display: inline;
    margin-bottom: 2px;
    font-size: 17px;
}

.edit-btn, .remove-btn{
    display: inline;
    float: right;
    
}

.date{
    font-weight: 500;
    font-family: 'Nanum SquareEB';
    color: #8A4582;
}

.home{
    margin-top: 50px;
}

#img{
    background-color: transparent;
    border: 0px transparent solid;
    cursor: pointer;
    outline: none;
}

#edit-box{
    font-family: 'Nanum Gothic';
    display: inline;
    margin: 0px 8px 0px 15px;
    width: 130px;
    height: 28px;
    font-size: 15px;
    border: none;
}